.page {
    outline: 2px solid #32a1ce;        
}

.page-header {
    outline: 2px solid red;
}

.magnifier-link {
    outline: 2px solid blueviolet;
}

.jumys-tap-link {
    outline: 2px solid green;
}

.page-header-left-links {
    outline: 2px solid blue;
}

.navigation-list {
    outline: 2px solid orange;
}

.navigation-item {
    outline: 2px solid grey;
}

.navigation-link {
    outline: 2px solid black;
}

.navigation-button {
    outline: 2px solid hotpink;
}

.main-index {
    outline: 2px solid black;
}

.description {
    outline: 2px solid blue;
}

.hero-block {
    outline: 2px solid grey;
    margin: 0;
}

.invitation {
    outline: 2px solid red;
}

.invitation-description {
    outline: 2px solid green;
}

.howItWorks-section {
    outline: 2px solid red;
}

.howItWorks-image {
    outline: 2px solid green;
}

.howItWorks-list {
    outline: 2px solid hotpink;
}

.howItWorks-item {
    outline: 2px solid gray;
}